
body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   position: relative;
   color: #555;
}

/*clase imagen*/
.image {
   border: 10px;
   background-color: aqua;
   border-style: inset;
   
   
}

* {
   margin: 10;
   padding: 15;

}